/* Global */
:root {
  --sys-primary: #161b21;
  --sys-secondary: #0d1116;
  --sys-tertiary: #1f6feb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--sys-secondary);
  color: var(--bs-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--bs-white);
  text-decoration: none;
}

a:hover {
  color: var(--sys-tertiary);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar-custom {
  background-color: var(--sys-primary);
}

/* Card */
.card {
  background-color: var(--sys-primary);
  border-color: #30363d;
}

/* Input */
input {
  color: var(--bs-white);
  background-color: var(--sys-secondary);
  border-radius: 5px;
  padding: 0.4rem;
  border: 1px solid;
  border-color: #30363d;
}

input[type='text']:focus {
  background-color: var(--sys-secondary);
  border: 1px solid var(--sys-tertiary);
  outline: none;
}

input[type='text']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--sys-secondary) inset;
  -webkit-text-fill-color: var(--bs-white);
}

input[type='text']:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--sys-secondary) inset;
  -webkit-text-fill-color: var(--bs-white);
}

/* Alert */
.alert {
  position: absolute;
  border-radius: 0;
}

/* Btn */
.btn {
  border-color: #30363d;
}

/* Animation */
.fadeOut {
  opacity: 0;
  transition: width 0.35s 0.35s, height 0.35s 0.35s, opacity 0.35s;
}
.fadeIn {
  opacity: 1;
  transition: width 0.35s, height 0.35s, opacity 0.35s 0.35s;
}
